<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- font and icon-->
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .modal-content {
            background-color: #f1f1f1;
            margin: 15% auto 35% 35%;
            border: 1px solid #888;
            width: 30%;
            height: 40%;
            padding: 2%;
        }

        @media screen and (max-width: 720px) {
            .modal-content {
                width: 45%;
                height: 42%;
                background-color: #f1f1f1;
                margin: 35% auto 35% 32%;
            }
        }
    </style>
    <title>รายการการสอบ</title>
</head>

<body class="contentBody">
    <div style="display: none" id="mySidebar">
        <ul class="sidenav borderSidenav " style="background-image: url(/12.png)">
            <li class="borderSidenav">
                <a href="/reg/mainStudent/<%=user._id%>">
                    <p style="color: #ffffff ; margin-top: 10%; font-size: 20px; text-align: center">REG BUU</p>
                </a>
            </li>
            <hr>
            <li><a href="/reg/login" class="borderSidenav" href="#home"><i class="fas fa-sign-out-alt icon"
                        style="margin-right: 28px"></i>ออกจากระบบ</a>
            </li>
            <li>
                <a href="/reg/examList/<%=user._id%>" class="active borderSidenav"> <i class="fas fa-address-book icon"
                        style="margin-right: 28px"></i>รายการการสอบ</a>
            </li>

        </ul>
    </div>

    <div class="w3-sidebar w3-bar-block w3-black w3-xlarge " style="display: none ; z-index: 2;" id="sidebarMe">
        <a href="../login.html" class="w3-bar-item w3-button "><i class="fas fa-sign-out-alt"></i></a>
        <a href="examList.html" class="w3-bar-item  w3-button"><i class="fas fa-address-book"></i></a>
    </div>

    <div id="main">
        <div class="navbar " id="navbar">
            <button class="btnNavbar btn w3-xlarge" id="openNav" style="display:none;"
                onclick="w3_open()">&#9776;</button>
            <button id="closeNav" style="display:none" class=" btn w3-xlarge" onclick="w3_close()">
                &times;</button>
            <div class="year1">
                <span>ปีการศึกษา :
                    <% if(err){ %>
                    <label>- / -</label>
                    <% }else{ %>
                    <label><%=year.year%> / <%=year.semester%></label>
                    <% } %>
                </span>
            </div>
        </div>

        <div class="contentRespon content">
            <div class="cardMain">
                <div class="containerMain">
                    <div class="titleCard" style="padding-left: 30px">
                        <span style="margin-bottom: 10% ;font-size: 25px">
                            รายการการสอบ</span>
                    </div>

                    <div class="row" style="margin-top: 4%;margin-bottom:2%;margin-left: 1%; font-size: 19px;">
                        <div class="col">
                            รหัสผู้ใช้ : <%=user.idUser%>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;margin-bottom:2%;margin-left: 1%; font-size: 19px;">
                        <div class="col">
                            ชื่อ - สกุล : <%=user.firstname + " " + user.lastname%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tile">
                                <div class="tile-body">
                                    <div style="overflow-x:auto;">
                                        <table class="table table-hover table-bordered" id="sampleTable">
                                            <thead>
                                                <tr
                                                    style="text-align: center; background-color: rgba(95, 201, 187, 0.473);">
                                                    <th>รหัสวิชา</th>
                                                    <th>รายชื่อวิชา</th>
                                                    <th>เวลา</th>
                                                    <th>ห้องสอบ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < exam.length; i++) { %>
                                                <% for(var j=0; j < exam[i].student.length; j++) { %>
                                                <% if(exam[i].student[j].idUser === user.idUser) { %>
                                                <tr>
                                                    <td><%=exam[i].idSubject%></td>
                                                    <td><%=exam[i].nameSubject%></td>
                                                    <td><%=exam[i].time%></td>
                                                    <td><%=exam[i].student[j].uSeat%></td>
                                                </tr>
                                                <% } %>
                                                <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div id="id03" class="modalPop">
                                <form class="modal-content animate" action="managerExam.html">
                                    <div onclick="document.getElementById('id03').style.display='none'" class="closePop"
                                        title="Close Modal">×</div>
                                    <br>
                                    <div class="containerPop">
                                        <div class="row" style="margin-left:5%">
                                            <div class="col-md-8 " style="margin-bottom: 5%;">
                                                ที่นั่งสอบ :
                                            </div>
                                            <div class="col-md-4" style="margin-bottom: 5%;">
                                                <label>xxxxx</label>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>

        <!-- The javascript plugin to display page loading on top-->
        <script src="/js/plugins/pace.min.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/js/plugins/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript">
            $('#sampleTable').DataTable();
            $('#sampleTable').DataTable();
        </script>


</body>

</html>